<h1>詳細ページ</h1>

<div class='container'>
    <div class='show_tasks'>
        <div class='show_tasks_button'>
            
        <div class="show_tasks_like ">
        <div class='show_tasks_like_count'>
        </div>    
        <div class='show_tasks_like_button'>

        </div>
        </div>
        <%=link_to '編集', edit_message_path(@message) , class:'btn btn-primary show_tasks_edit_button'%>
        <%= link_to '消去', message_path, method: :delete,class:'btn btn-danger' %>
        </div>
        <div class='show_tasks_chart'>
              <% if @message.image? %>
                <%= image_tag @message.image.url, width:'100%',height:'100%' %>
              <% else %>
                  <p>画像がありません</p>
              <% end %>
            
        </div>
        
        <div class='show_tasks_table'>
<table>
    <tbody>
         <tr>
            <th>イベント名</th>
            <td><%=@message.name%></td>
        </tr>
         <tr>
            <th>内容</th>
            <td><%=@message.message_coment%></td>
        </tr>
        <tr>
            <th>日時</th>
            <td><%=@message.date%></td>
        </tr>
        <tr>
            <th>場所</th>
            <td><%=@message.message_place%></td>
        </tr>
        <tr>
            <th>人数</th>
            <td><%=@message.people%></td>
        </tr>
        
    </tbody>
</table>
        </div>
        
        <div class='show_tasks_coment'>
            <h5>コメント</h5>
            <%=@message.message_coment%>
        </div>
        <div class='message_show_apply_button'>
        <%if current_user.id != @message.message_id%>
            <%=link_to 'イベント申し込み' , post_path(@message) ,class:'btn btn-primary'%>
        <%else%>
        <p></p>
        <%end%>
        </div>
    </div>
</div>