
<div class= 'container'>
    <div class='row justify-content-center'>

    <div class=' col-9 detail'>
        <h4>メッセージ詳細</h4>
    <table class="table">
    <tbody>
        <tr>
            <th>名前</th>
            <td><%="#{@post.post_name}"%></td>
        </tr>
        <tr>
            <th>年齢</th>
            <td><%="#{@post.post_old}"%></td>
        </tr>
        <tr>
            <th>性別</th>
            <td><%="#{@post.post_sex}"%></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td><%="#{@post.post_email}"%></td>
        </tr>
    </tbody>
    </table>
    <div class='posts_detail_content'>
            <h4>メッセージ</h4>
            <p><%=safe_join(@post.post_content.split("\n"),tag(:br))%></p>
    </div>

<br><br><br><br><br><br>
    </div>
            <h1>※メッセージ確認後相手のメールアドレスに返信お願いします</h1>
    </div>
</div>

